body {
  margin: 0;
  padding: 0;
  background: url("../images/bkg1.jpg") 0 0;
  color: #eaeaea;
  font: 16px;
  line-height: 1.5;
  font-family: Monaco, "Bitstream Vera Sans Mono", "Lucida Console", Terminal, monospace;
}

a { background: transparent; text-decoration: blink; color: darkcyan;}

ol, ul { padding: 0; list-style-type: none; }

/* add by zhaoheng */
.ztitle {
  width: 100%;
  text-align: center;
}
.ztitle p { 
  font-size: 50px; 
  font-family: cursive;
  letter-spacing: 40px;
}

.zcontent {
  text-align: center;
}
.zcontent zself {
  width: 100%;
}
.zcontent zself ul li {
  text-align: left;
  list-style: none;
}